Repository apache/pekko, pull requests merged in 2024-12, with the labels that each got.

#1611 bug: fix occasional ordering issue in result in unsafeOptionalDataVia
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/SourceWithContext.scala
Labels: bug, backport

#1617 chore: tidy up implementation of PhasedFusingActorMaterializer
  stream/src/main/scala/org/apache/pekko/stream/impl/PhasedFusingActorMaterializer.scala
Labels: t:stream

#1616 chore: avoid create an empty array everytime.
  stream/src/main/scala/org/apache/pekko/stream/impl/PhasedFusingActorMaterializer.scala
Labels: t:stream

#1556 jackson 2.18 with max-token-count support
  .scala-steward.conf
  project/Dependencies.scala
  serialization-jackson/src/main/resources/reference.conf
  serialization-jackson/src/main/scala/org/apache/pekko/serialization/jackson/JacksonObjectMapperProvider.scala
  serialization-jackson/src/test/scala/org/apache/pekko/serialization/jackson/JacksonFactorySpec.scala
Labels: release notes

#1632 chore: Fix the @since of Sink.none operator, should be 1.2.0
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Sink.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Sink.scala
Labels: t:stream

#1637 chore: Turn on Netty's leak detector in build.
  .github/workflows/build-test-prValidation.yml
  .github/workflows/nightly-1.1-builds.yml
  .github/workflows/nightly-builds-aeron.yml
  .github/workflows/nightly-builds.yml
Labels: build

#1639 chore: Enable netty leak detector in CI
  .jvmopts-ci
Labels: build

#1593 feat: Add SchedulerTask which will be notified once cancelled.
  actor-tests/src/test/scala/org/apache/pekko/actor/SchedulerSpec.scala
  actor/src/main/scala/org/apache/pekko/actor/LightArrayRevolverScheduler.scala
  actor/src/main/scala/org/apache/pekko/actor/Scheduler.scala
Labels: release notes

#1641 chore: Add netty leak detector in multi-node-testing.
  project/SbtMultiJvmPlugin.scala
Labels: build

#1628 perf: Reduce loops in when clean queue in BroadcastHub
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Hub.scala
Labels: t:stream

#1648 fix: Use 1.1.x build in 1.1.x nightly build
  .github/workflows/nightly-1.1-builds.yml
Labels: bug, build

#1650 fix: avoid call finalizeStage more times than once.
  stream-tests/src/test/scala/org/apache/pekko/stream/impl/fusing/ActorGraphInterpreterSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/GraphInterpreter.scala
Labels: bug, t:stream, backport

#1655 chore: fix failed in StreamConvertersSpec
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/StreamConvertersSpec.scala
Labels: t:stream, backport

#1656 chore: fix failed in StreamConvertersSpec (#1655)
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/StreamConvertersSpec.scala
Labels: t:stream
