Repository apache/pekko, pull requests merged in 2024-04, with the labels that each got.

#1244 chore: Add Source.iterate operator.
  docs/src/main/java-jdk-21/docs/actors/classical/OptimizedActorWithJava21.java
  docs/src/main/paradox/stream/operators/Source/iterate.md
  docs/src/main/paradox/stream/operators/index.md
  docs/src/test/java/jdocs/stream/operators/source/Iterate.java
  docs/src/test/scala/docs/stream/operators/source/Iterate.scala
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SourceTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/SourceSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/Stages.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/CollectFirst.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Source.scala
Labels: t:stream

#1239 chore: Refactor UnfoldResourceSource.
  stream/src/main/scala/org/apache/pekko/stream/impl/UnfoldResourceSource.scala
Labels: t:stream

#1249 chore: Make use of splitIterator directly
  stream/src/main/scala/org/apache/pekko/stream/impl/JavaStreamSource.scala
Labels: t:stream, late-release-note

#1250 chore: Avoid copy the whole iterable for mapconcat oprerator in Javadsl.
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
Labels: t:stream

#1254 chore: Add more heap memory to stew action.
  .github/workflows/scala-steward.yml
Labels: build

#1240 chore: Refactor UnfoldResourceSourceAsync.
  stream/src/main/scala/org/apache/pekko/stream/impl/UnfoldResourceSourceAsync.scala
Labels: t:stream

#1282 chore: Fix ByteIterator indexWhere method
  actor-tests/src/test/scala/org/apache/pekko/util/ByteStringSpec.scala
  actor/src/main/scala-2.12/org/apache/pekko/util/ByteIterator.scala
  actor/src/main/scala-2.13/org/apache/pekko/util/ByteIterator.scala
  actor/src/main/scala-3/org/apache/pekko/util/ByteIterator.scala
Labels: bug, late-release-note

#1269 feat: Add retry with predicate
  actor-tests/src/test/scala/org/apache/pekko/pattern/RetrySpec.scala
  actor/src/main/scala/org/apache/pekko/pattern/Patterns.scala
  actor/src/main/scala/org/apache/pekko/pattern/RetrySupport.scala
  docs/src/test/java/jdocs/future/FutureDocTest.java
Labels: enhancement, late-release-note
