Repository apache/pekko, pull requests merged in 2024-02, with the labels that each got.

#1053 feat: Add AutoCloseable shortcut on mapWithResource
  docs/src/main/paradox/stream/operators/Source-or-Flow/mapWithResource.md
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/FlowTest.java
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SourceTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowMapWithResourceSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubFlow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubSource.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream

#1156 fix: proper path when promise actor terminated quickly
  actor-tests/src/test/scala/org/apache/pekko/pattern/AskSpec.scala
  actor/src/main/scala/org/apache/pekko/pattern/AskSupport.scala
Labels: bug

#1147 chore: Remove the deprecation of statefulMapConcat operator.
  docs/src/main/paradox/stream/operators/Source-or-Flow/statefulMapConcat.md
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubFlow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubSource.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream

#1161 chore: Remove the deprecation of statefulMapConcat operator. (#1147)
  docs/src/main/paradox/stream/operators/Source-or-Flow/statefulMapConcat.md
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubFlow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubSource.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream, release notes
