Repository apache/pekko, pull requests merged in 2024-01, with the labels that each got.

#923 feat: Optimize recoverWith stream operator for single source.
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowRecoverWithSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/Ops.scala
Labels: t:stream

#917 feat: Make SingleConsumerMultiProducer the default mailbox for stream.
  stream/src/main/resources/reference.conf
  stream/src/main/scala/org/apache/pekko/stream/impl/ActorMaterializerImpl.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/PhasedFusingActorMaterializer.scala
Labels: t:stream

#935 feat: Add support for `for comprehensions`.
  docs/src/main/paradox/stream/operators/index.md
  project/StreamOperatorsIndexGenerator.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/DslConsistencySpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/ForComprehensionsCompileSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream

#937 feat: Add flatten operator.
  project/StreamOperatorsIndexGenerator.scala
  stream-tests-tck/src/test/scala/org/apache/pekko/stream/tck/FlatMapConcatDoubleSubscriberTest.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/DslConsistencySpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/impl/fusing/ActorGraphInterpreterSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowFlattenMergeSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowSplitAfterSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowSplitWhenSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/SourceSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: release notes

#964 feat: Add collectWhile operator.
  docs/src/main/paradox/stream/operators/Source-or-Flow/collectWhile.md
  docs/src/main/paradox/stream/operators/index.md
  docs/src/test/java/jdocs/stream/operators/SourceOrFlow.java
  docs/src/test/scala/docs/stream/operators/sourceorflow/Collect.scala
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/FlowTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowCollectWhileSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/Stages.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/CollectWhile.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubFlow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubSource.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream, release notes

#985 chore: Fix FlowCollectWhileSpec.
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowCollectWhileSpec.scala
Labels: t:stream

#982 chore: Clean up some duplicated code.
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/Ops.scala
Labels: t:stream

#992 chore: Fix incorrectly prefixed config names
  bench-jmh/src/main/scala/org/apache/pekko/stream/ZipWithIndexBenchmark.scala
Labels: t:stream

#983 chore: Micro optimization for `collect*` operator.
  bench-jmh/src/main/scala/org/apache/pekko/stream/CollectBenchmark.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/CollectWhile.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/Ops.scala
Labels: t:stream

#984 feat: Add `collectFirst` stream operator.
  docs/src/main/paradox/stream/operators/Source-or-Flow/collectFirst.md
  docs/src/main/paradox/stream/operators/index.md
  docs/src/test/java/jdocs/stream/operators/SourceOrFlow.java
  docs/src/test/scala/docs/stream/operators/sourceorflow/Collect.scala
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/FlowTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowCollectFirstSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/Stages.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubFlow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubSource.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream

#1012 feat: Add Flow/Sink#foldWhile operator.
  docs/src/main/paradox/stream/operators/Sink/foldWhile.md
  docs/src/main/paradox/stream/operators/Source-or-Flow/foldWhile.md
  docs/src/main/paradox/stream/operators/index.md
  docs/src/test/java/jdocs/stream/operators/flow/FoldWhile.java
  docs/src/test/java/jdocs/stream/operators/sink/FoldWhile.java
  docs/src/test/scala/docs/stream/operators/sink/FoldWhile.scala
  docs/src/test/scala/docs/stream/operators/sourceorflow/Fold.scala
  docs/src/test/scala/docs/stream/operators/sourceorflow/FoldWhile.scala
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/FlowTest.java
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SinkTest.java
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SourceTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/DslFactoriesConsistencySpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowFoldWhileSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/SinkFoldSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/Stages.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/Ops.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Sink.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubFlow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubSource.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Sink.scala
Labels: t:stream

#991 chore: Remove unused attributes in Stages.
  stream/src/main/mima-filters/1.0.x.backwards.excludes/pr-991-remove-unused-attributes.backwards.excludes
  stream/src/main/scala/org/apache/pekko/stream/impl/Stages.scala
Labels: t:stream

#1027 chore: Add PekkoManagedBlocker to reduce memory.
  actor/src/main/scala/org/apache/pekko/dispatch/ThreadPoolBuilder.scala
Labels: enhancement

#1046 chore: Add @since 1.1.0 for flatten operator.
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream

#1041 perf: Add dedicated collectFirst implementation.
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/CollectFirst.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream

#1045 chore: Add Flow#flattenMerge operator.
  docs/src/main/paradox/stream/operators/Flow/flattenMerge.md
  docs/src/main/paradox/stream/operators/index.md
  stream-tests/src/test/scala/org/apache/pekko/stream/DslConsistencySpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowFlattenMergeSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Flow.scala
Labels: t:stream

#1054 feat: Add multi java lts support.
  docs/src/main/java-jdk-21/docs/actors/classical/OptimizedActorWithJava21.java
  project/CopyrightHeaderForJdk9.scala
  project/Jdk9.scala
  project/JdkOptions.scala
  project/ProjectFileIgnoreSupport.scala
Labels: build

#989 feat: Add Sink#forall operator.
  docs/src/main/paradox/stream/operators/Sink/forall.md
  docs/src/main/paradox/stream/operators/index.md
  docs/src/test/java/jdocs/stream/operators/sink/ForAll.java
  docs/src/test/scala/docs/stream/operators/sink/ForAll.scala
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SinkTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/SinkSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/Ops.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Sink.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Sink.scala
Labels: t:stream

#1070 Add targetName overloaded methods for Scala 3 inline methods
  actor/src/main/scala-3/org/apache/pekko/compat/PartialFunction.scala
  actor/src/main/scala-3/org/apache/pekko/dispatch/internal/SameThreadExecutionContext.scala
  actor/src/main/scala-3/org/apache/pekko/util/FutureConverters.scala
  actor/src/main/scala-3/org/apache/pekko/util/JavaDurationConverters.scala
  actor/src/main/scala-3/org/apache/pekko/util/OptionConverters.scala
Labels: high priority, build

#1064 Verify JDK 9 classes.
  .github/workflows/nightly-builds.yml
  build.sbt
  project/VerifyJDK9Classes.scala
Labels: build

#1080 chore: Add Scala 3.3 to nightly build matrix.
  .github/workflows/nightly-builds.yml
Labels: build

#990 feat: Add Sink.exists operator
  docs/src/main/paradox/stream/operators/Sink/exists.md
  docs/src/main/paradox/stream/operators/Sink/forall.md
  docs/src/main/paradox/stream/operators/index.md
  docs/src/test/java/jdocs/stream/operators/sink/Exists.java
  docs/src/test/scala/docs/stream/operators/sink/Exists.scala
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SinkTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/SinkSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Sink.scala
  stream/src/main/scala/org/apache/pekko/stream/scaladsl/Sink.scala
Labels: t:stream

#1088 Get avoid snapshot interval calculate int overflow
  persistence-typed/src/main/scala/org/apache/pekko/persistence/typed/internal/RetentionCriteriaImpl.scala
Labels: bug
