Repository apache/pekko, pull requests merged in 2025-01, with the labels that each got.

#1594 reimplement fix for akka/pekko cluster
  .github/workflows/build-test-prValidation.yml
  cluster/src/main/scala/org/apache/pekko/cluster/ClusterDaemon.scala
  cluster/src/test/scala/org/apache/pekko/cluster/MixedProtocolClusterSpec.scala
  remote/src/main/scala/org/apache/pekko/remote/Remoting.scala
Labels: backport

#1667 perf: optmize NettyChannelHandlerAdapter with explict extends.
  remote/src/main/scala/org/apache/pekko/remote/transport/netty/NettyHelpers.scala
Labels: performance

#1622 fix: Fix leak in FlatMapPrefix operator.
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/FlatMapPrefix.scala
Labels: bug, t:stream

#271 Make flatMapPrefix javadsl using java.util.List
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/FlowTest.java
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SourceTest.java
  stream/src/main/mima-filters/1.1.x.backwards.excludes/pr-271-use-java-list-in-flatmapPrefix-javadsl.backwards.excludes
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubFlow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/SubSource.scala
Labels: question, t:stream

#1680 chore: Test more rounds for unsafeDataVia keeping order.
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowWithContextSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/SourceWithContextSpec.scala
Labels: t:stream, backport

#1687 chore: Avoid forwarding method on ArrayDequeue in stream module.
  stream/src/main/scala/org/apache/pekko/stream/impl/ActorRefBackpressureSinkStage.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/PhasedFusingActorMaterializer.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/ActorGraphInterpreter.scala
Labels: t:stream

#1671 chore: Add identity function.
  actor-tests/src/test/java/org/apache/pekko/util/ConstantFunJavaTest.java
  actor/src/main/scala/org/apache/pekko/japi/function/Function.scala
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/FlowTest.java
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SourceTest.java
Labels: t:stream

#1678 Update scala-library to 2.13.15 (#1505)
  actor-typed-tests/src/test/scala/org/apache/pekko/actor/typed/ActorContextSpec.scala
  bench-jmh/src/main/scala/org/apache/pekko/actor/RequestResponseActors.scala
  cluster-tools/src/main/scala/org/apache/pekko/cluster/pubsub/DistributedPubSubMediator.scala
  persistence/src/main/scala/org/apache/pekko/persistence/serialization/MessageSerializer.scala
  persistence/src/test/scala/org/apache/pekko/persistence/serialization/SnapshotSerializerSpec.scala
  project/Dependencies.scala
  project/PekkoDisciplinePlugin.scala
  scripts/link-validator.conf
Labels: backport

#1683 chore: Test more rounds for unsafeDataVia keeping order. (#1680)
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/FlowWithContextSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/scaladsl/SourceWithContextSpec.scala
Labels: t:stream

#1697 chore: Run nightly 1.0 build weekly
  .github/workflows/nightly-1.0-builds.yml
Labels: build

#1699 chore: Require breadth >= 1 in FlattenMerge
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/StreamOfStreams.scala
Labels: t:stream

#1700 chore: Require parallelism >= 1 in MapAsync and MapAsyncUnordered
  stream/src/main/scala/org/apache/pekko/stream/impl/fusing/Ops.scala
Labels: t:stream

#1737 chore: Add doc about virtual thread executor.
  docs/src/main/paradox/typed/dispatchers.md
  docs/src/test/scala/docs/dispatcher/DispatcherDocSpec.scala
Labels: documentation

#1743 chore: Add the missing EmptySource case to TraversalBuilder
  stream-tests/src/test/scala/org/apache/pekko/stream/impl/TraversalBuilderSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/TraversalBuilder.scala
Labels: t:stream

#1747 chore: Add the missing EmptySource case to TraversalBuilder (#1743)
  stream-tests/src/test/scala/org/apache/pekko/stream/impl/TraversalBuilderSpec.scala
  stream/src/main/scala/org/apache/pekko/stream/impl/TraversalBuilder.scala
Labels: bug, t:stream, backport

#1468 Add overridden duration timeout to StreamTestKit
  stream-testkit/src/main/mima-filters/1.1.1.backwards.excludes/pr-1468-override-timeout-stream-testkit.backwards.excludes
  stream-testkit/src/main/scala/org/apache/pekko/stream/testkit/javadsl/StreamTestKit.scala
  stream-testkit/src/main/scala/org/apache/pekko/stream/testkit/scaladsl/StreamTestKit.scala
  stream-testkit/src/test/scala/org/apache/pekko/stream/testkit/StreamConfiguration.scala
  stream-testkit/src/test/scala/org/apache/pekko/stream/testkit/StreamSpec.scala
Labels: t:stream
