Repository apache/pekko, pull requests merged in 2025-08, with the labels that each got.

#2003 don't test SessionRenegotiationFirstOne on java 24
  stream-tests/src/test/scala/org/apache/pekko/stream/io/DeprecatedTlsSpec.scala
  stream-tests/src/test/scala/org/apache/pekko/stream/io/TlsSpec.scala
Labels: java24

#2100 backport add non-default config that allows InboundQuarantineCheck to ignore 'harmless' quarantine events (#1555)
  remote/src/main/mima-filters/1.1.x.backwards.excludes/quarantine.backwards.excludes
  remote/src/main/resources/reference.conf
  remote/src/main/scala/org/apache/pekko/remote/artery/ArterySettings.scala
  remote/src/main/scala/org/apache/pekko/remote/artery/ArteryTransport.scala
  remote/src/main/scala/org/apache/pekko/remote/artery/Association.scala
  remote/src/main/scala/org/apache/pekko/remote/artery/InboundQuarantineCheck.scala
  remote/src/test/scala/org/apache/pekko/remote/artery/HarmlessQuarantineSpec.scala
  remote/src/test/scala/org/apache/pekko/remote/artery/OutboundIdleShutdownSpec.scala
Labels: backport, cluster

#2120 feat: Add Flow/Source#onErrorResume for javadsl.
  docs/src/main/paradox/stream/operators/Source-or-Flow/onErrorResume.md
  docs/src/main/paradox/stream/operators/index.md
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/FlowTest.java
  stream-tests/src/test/java/org/apache/pekko/stream/javadsl/SourceTest.java
  stream-tests/src/test/scala/org/apache/pekko/stream/DslConsistencySpec.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
Labels: t:stream

#2121 chore: Remove the deprecated annotation from recoverWith (#2119)
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Flow.scala
  stream/src/main/scala/org/apache/pekko/stream/javadsl/Source.scala
Labels: t:stream
